.mobileNav{
    grid-area: mobileNav;
    display: flex;
    flex-direction: flex-row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--high-pure);
}

.mobileNav .navbar, .mobileNav .container-fluid{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.mobileNav .navbar-toggler:focus, .mobileNav .btn-close:focus{
    box-shadow: none;
}

.mobileNav button:not(.btn-close){
    display: block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.mobileNav button a{
    text-decoration: none;
    font-size: 0.8rem;
    display: block;
}

.mobileNav button:not(.btn-close) i{
    display: block;
    font-size: 1.2rem;
}

.mobileNav button, .mobileNav a{
    color: var(--low-pure);
}

.mobileNav a.active{
    color: var(--primary-pure);
}

.mobileNav button:hover, .mobileNav a:hover{
    color: var(--primary-dark);
}

.mobileNav .offcanvas-title{
    color: var(--primary-pure);
}

.mobileNav .btn-close{
    background: none;
    opacity: 1;
    font-size: 1.5rem;
}

@media(min-width: 768px){
    .mobileNav{
        display: none;
    }
}