main{
    grid-area: main;
    min-height: 250px;
    overflow-y: scroll;
    background-color: var(--high-pure);
}

::-webkit-scrollbar{
    width: .75em;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: var(--high-medium);
    border-radius: 100vw;
    border: 3px solid var(--high-pure);
}

:hover::-webkit-scrollbar-thumb{
    background-color: var(--primary-pure);
}

@supports(scrollbar-color: var(--primary-pure) transparent){
    *{
        scrollbar-color: var(--high-medium) transparent;
        scrollbar-width: thin;
    }

    :hover{
        scrollbar-color: var(--primary-pure) transparent;
    }
}


/* ------------------------- DarkMode ------------------------- */
.dark main{
    background-color: var(--low-pure);
}

.dark ::-webkit-scrollbar-thumb{
    border-color: var(--low-pure);
}