header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--high-pure);
}

header .navbar-brand, header .navbar-brand:hover, header .navbar-brand:focus{
    color: var(--primary-pure);
}