header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--high-pure);
    transition: .3s;
}

header .navbar-brand, header .navbar-brand:hover, header .navbar-brand:focus{
    color: var(--primary-pure);
}

@media(max-width: 768px){
    #switch-header{
        display: none;
    }
}


/* ------------------------- DarkMode ------------------------- */

.dark header{
    background-color: var(--low-pure);
}

.dark header .switch-text{
    color: var(--high-pure);
}