header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-pure);
    filter: drop-shadow(0 0 1px var(--primary-pure));
}

header .navbar-brand, header .navbar-brand:hover, header .navbar-brand:focus{
    color: var(--high-pure);
}

@media(max-width: 768px){
    #switch-header{
        display: none;
    }
}


/* ------------------------- DarkMode ------------------------- */

.dark header{
    background-color: var(--low-pure);
}

.dark header .switch-text{
    color: var(--primary-pure);
}

.dark header .switch-checkbox:focus + .switch-darkmode{
    box-shadow: 0 0 3px var(--primary-pure);
}

.dark header .switch-darkmode{
    border: 1px solid var(--primary-pure);
}

.dark header .switch-darkmode::before{
    background: var(--primary-pure);
}