@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Play:wght@400;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --primary-pure: #FF305C;
  --primary-dark: #B71858;
  --high-pure: #FFFFFF;
  --high-light: #E3E3E3;
  --high-medium: #CFCFCF;
  --high-dark: #BABABA;
  --low-pure: #262626;
  --low-light: #6F6F6F;
  --low-medium: #525252;
  --low-dark: #3F3F3F;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  min-width: 250px;
}